<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARS App</title>

     <link rel="stylesheet" href="/stylesheet/style.css" />
 </head>
</head>
<body>
    <div class="getty embed image" style="background-color:#fff;display:inline-block;font-family:Roboto,sans-serif;color:#a7a7a7;font-size:11px;width:100%;max-width:478px;"><div style="padding:0;margin:0;text-align:left;"><a href="http://www.gettyimages.com/detail/170450723" target="_blank" style="color:#a7a7a7;text-decoration:none;font-weight:normal !important;border:none;display:inline-block;">Embed from Getty Images</a></div><div style="overflow:hidden;position:relative;height:0;padding:75.1046% 0 0 0;width:100%;"><iframe src="//embed.gettyimages.com/embed/170450723?et=K0wb-Ht_RcxhucmAte92XA&tld=com&sig=2xkDMpPWYTu78xXXOcACDVtaQi8gXlEkQ5v6tEztXxE=&caption=true&ver=1" scrolling="no" frameborder="0" width="478" height="359" style="display:inline-block;position:absolute;top:0;left:0;width:100%;height:100%;margin:0;"></iframe></div></div>
   <h1>Welcome to the CARS App</h1> 
   <p>An app for collecting your favourite Car.</p>

  <a class="cars-index-link" href="/cars">
            <div class="index-link-text">Go to Add CARS</div>
        </a> 
</body>
</html>