 <!-- all template pages -->

 <head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />


   <link rel="stylesheet" href="/stylesheet/style.css" />
 </head>


<body>
  <a href="/cars">All CARS</a>
  <h1>Create a new CAR</h1>
  <form action="/cars" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name" />
    <br>
 <!-- new.ejs / edit.ejs -->
 <div class="checkbox-div">
 <label for="isLuxury">Luxury?</label>
    <input type="checkbox" name="isLuxury" id="isLuxury">
 </div>

    <br>
    <button type="submit"> Add Car </button>
  </form>
</body>